COINBASE_API_KEY=YOUR_COINBASE_API_KEY
COINBASE_API_SECRET="YOUR_COINBASE_API_SECRET"
COINBASE_PORTFOLIO_ID= (Optional: if you have multiple sub-accounts/portfolios, put the specific portfolio UUID here. Leave empty to use the default.)
# latest version
# Sample file (use your keys and rename to APIkeys.env
